<ion-app>
  
  <ion-menu contentId="content1" no-shadow no-border side="start">
      <ion-header  no-shadow no-border>
        <ion-toolbar no-shadow no-border color="medium">
          <ion-title color="dark">Quiz master</ion-title>
        </ion-toolbar>
      </ion-header>
    
          <ion-content>
              <ion-list >
                  <ion-item>Home</ion-item>
    
                <ion-item (click)="logout()">Logout</ion-item>
                <ion-item (click)="exit()">Exit</ion-item>

              <p style="text-align: center;">Version:0.1(Admin)</p>
                
              </ion-list>
          
      </ion-content>
    </ion-menu>
    
    
    <ion-router-outlet id="content1"></ion-router-outlet>
  </ion-app>
  